<!DOCTYPE html>
<html>
    
<head>
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
</head>

<body>
    <h1>Weather App</h1>

    <form method="POST">

        <input type="text" name="city" placeholder="Enter a city">

        <button type="submit">
            Get Weather
        </button>

    </form>

    {% if error %}

        <p class="error">{{ error }}</p>

    {% endif %}
    
    {% if weather %}

    <div class="weather-card">

        <h2>Weather Results</h2>
        <p>Weather: {{ weather["weather"] }}</p>
        <p>Temperature: {{ weather["temperature"] }}</p>
        <p>Humidity: {{ weather["humidity"] }}</p>
        <p>Feels Like: {{ weather["feels like"] }}</p>
        <p>Sunrise: {{ weather["sunrise"] }}</p>
        <p>Sunset: {{ weather["sunset"] }}</p>
    </div>

    {% endif %}
</body>

</html>